$sidebar-width: 300px;

.main {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: $sidebar-width;
  background: #ccc;

  .filters {
    position: absolute;
    top: 20px;
    right: 20px;

    .filter {
      background: #fff;
      border-radius: 5px;
      padding: 0 10px;
      margin-top: 10px;

      mat-form-field {
        width: 100%;
      }
    }
  }

  .main-canvas {
    padding: 40px;
    background-image: url('/assets/images/grid.png');
    background-repeat: repeat;
    min-width: 100vw;
    min-height: 100vw;
  }
}

.sidebar {
  position: absolute;
  background: #f6f6f6;
  top: 0;
  right: 0;
  bottom: 0;
  width: $sidebar-width;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);

  .sidebar-section {
    .sidebar-section-header,
    .sidebar-section-footer {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      background: #efefef;
      padding: 5px 10px;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
    }
    .sidebar-section-body {
      padding: 10px;
      mat-form-field {
        display: block;
        width: auto;
      }
      .split-field {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        mat-form-field {
          width: 50%;
        }
      }
      .sidebar-item {
        border-bottom: 1px solid #ccc;
        margin-left: -10px;
        margin-right: -10px;
        padding: 10px;
        &:first-child {
          border-top: 1px solid #ccc;
        }
      }
      .sidebar-editable {
        background: transparent;
        font-size: inherit;
        font-family: inherit;
        border: none;
        padding: 5px 0;
        &:focus {
          background: #fff;
        }
      }
    }
  }

  .employee-properties {
    .save-button-container {
      text-align: right;
    }
  }

  .roles {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .sidebar-section-body {
      height: 200px;
      overflow-y: scroll;
    }
  }
}
