<div class="main">
  <pan-zoom [config]="zoomConfig">
    <div class="main-canvas">
      <app-employee *ngFor="let employee of hierarchy"
        [employee]="employee"
        [selectedId]="selectedId"
        [olderThan]="employeesOlderThan"
        [searchedEmployees]="searchedEmployees"
        [employeeRolesMap]="employeeRoleMap"
        (selectEmployee)="selectEmployee($event.id)"
      ></app-employee>
    </div>
  </pan-zoom>

  <div class="filters">
    <!-- search filter -->
    <div class="filter search">
      <mat-form-field>
        <mat-label>Search ID or name</mat-label>
        <input matInput [(ngModel)]="searchTerm"
          (keyup)="searchEmployees()"
          (change)="searchEmployees()"
          [matAutocomplete]="searchComplete"
        />
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete #searchComplete="matAutocomplete"
          (optionSelected)="searchEmployees()"
        >
          <mat-option *ngFor="let employee of searchedEmployees" [value]="employee.id">
            {{ employee.name }} {{ employee.surname }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <!-- date filter -->
    <div class="filter date-filter">
      <mat-form-field>
        <mat-label>Employees older than</mat-label>
        <input matInput [matDatepicker]="oldestBirthdatePicker"
          [(ngModel)]="employeesOlderThan"
        />
        <mat-datepicker-toggle matSuffix [for]="oldestBirthdatePicker"></mat-datepicker-toggle>
        <mat-datepicker #oldestBirthdatePicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="sidebar">
  <div class="sidebar-section employee-properties">
    <div class="sidebar-section-header">
      <div class="sidebar-section-title">Employee Details</div>
      <button mat-button (click)="addEmployee()" matTooltip="Add employee" [disabled]="!employeeRoles.length">Add</button>
    </div>
    <div class="sidebar-section-body">
      <p *ngIf="selectedId == null">
        Select an employee to edit their details
      </p>
      <p *ngIf="!employeeRoles.length">
        Please add an employee role before adding an employee.
      </p>
      <form *ngIf="selectedId != null || creatingEmployee" [formGroup]="employeeDetailsFormGroup" (submit)="saveEmployee()">
        <div>
          <mat-form-field>
            <mat-label>Employee number</mat-label>
            <input matInput formControlName="employeeNumber" />
          </mat-form-field>
        </div>
        <div class="split-field">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Surname</mat-label>
            <input matInput formControlName="surname" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Birthdate</mat-label>
            <input matInput [matDatepicker]="birthdatePicker" formControlName="birthdate" />
            <mat-datepicker-toggle matSuffix [for]="birthdatePicker"></mat-datepicker-toggle>
            <mat-datepicker #birthdatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Salary</mat-label>
            <input matInput type="number" formControlName="salary" />
          </mat-form-field>
        </div>
        <div class="split-field">
          <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select formControlName="role">
              <mat-option *ngFor="let role of employeeRoles" [value]="role.id">
                {{ role.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Reports to</mat-label>
            <mat-select formControlName="reportsTo">
              <mat-option [value]="undefined">Nobody</mat-option>
              <mat-option *ngFor="let employee of employeeCanReportTo" [value]="employee.id">
                {{ employee.name }} {{ employee.surname }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="error" *ngIf="saveEmployeeError">
          {{ saveEmployeeError }}
        </div>
        <div class="save-button-container">
          <button *ngIf="!creatingEmployee" type="button" mat-stroked-button color="warn" (click)="deleteEmployee()" matTooltip="Remove employee">Delete</button>
          <button type="submit" mat-flat-button color="primary" [disabled]="!employeeDetailsFormGroup.valid">Save</button>
        </div>
      </form>
    </div>

    <div class="sidebar-section roles">
      <div class="sidebar-section-header">
        <div class="sidebar-section-title">Employee Roles</div>
        <div>
          <button mat-button (click)="showRoleStats()" matTooltip="View salary information">Stats</button>
          <button mat-button (click)="addRole()" matTooltip="Add new role">Add</button>
        </div>
      </div>
      <div class="sidebar-section-body">
        <div class="employee-role sidebar-item" *ngFor="let role of employeeRoles">
          <input class="sidebar-editable" type="text"
            matTooltip="Click to edit"
            [value]="role.name"
            (blur)="updateRole(role.id, $event.target.value)
          " />
          <button mat-icon-button (click)="removeRole(role.id)"
            [disabled]="employeeRoles.length <= 1"
            matTooltip="Delete employee role"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>