$connector-width: 4px;
$connector-color: #aaa;

:host {
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: flex-start;
}

.employee-container {
  display: flex;
  position: relative;
  align-content: center;
  margin-bottom: 50px;
  justify-content: center;

  // connector from employee down to horizontal line
  &::after {
    position: absolute;
    content: '';
    width: $connector-width;
    height: 25px;
    bottom: 0;
    left: 50%;
    background-color: $connector-color;
    transform: translateY(100%) translateX(-50%);
  }
  &.leaf::after {
    display: none;
  }

  .employee {
    box-sizing: border-box;
    position: relative;
    padding: 10px 15px;
    background: #fff;
    border: $connector-width solid #000;
    font-size: 14px;
    min-width: 160px;

    &.searched-for {
      border: $connector-width dotted #f3b;
    }
    &.not-old-enough {
      opacity: 0.6;
    }
    &.selected {
      border: $connector-width solid #f3b;
    }
  }
}

.sub-employees {
  display: flex;
  justify-content: center;

  .sub-employee {
    padding: 0 15px;

    // connector up to horizontal line
    &::before {
      content: '';
      position: absolute;
      background-color: $connector-color;
      left: 0;
      left: 50%;
      top: 0;
      transform: translateY(-100%) translateX(-50%);
      width: $connector-width;
      height: 25px;
    }

    // horizontal connector
    &::after {
      content: '';
      position: absolute;
      background-color: $connector-color;
      left: 0;
      top: -25px;
      transform: translateY(-100%);
      height: $connector-width;
      width: 100%;
    }
    &:first-child::after {
      left: 50%;
      width: 50%;
    }
    &:last-child::after {
      width: 50%;
    }
    &:only-child::after {
      display: none;
    }
  }
}
