$employee-width: 140px;
$employee-height: 50px;
$border-radius: 5px;
$connector-width: 4px;
$connector-color: #999;
$employee-margin-top: 15px;

:host {
  display: block;
  position: relative;
}

.employee {
  position: relative;
  width: $employee-width;
  height: $employee-height;
  background: #eee;
  border-radius: $border-radius;
  padding: 10px 12px;
  font-size: 14px;
  border: 2px solid #bbb;

  &::before {
    display: block;
    position: absolute;
    content: '';
    height: $connector-width;
    width: calc(#{$employee-width} / 2);
    background: $connector-color;
    left: calc(#{$employee-width} / 2 * -1);
    top: calc(50% - #{$connector-width});
  }

  &.root {
    &::before {
      display: none;
    }
  }

  &.selected {
    border: 2px solid hsl(330, 100%, 71%);
  }

  &.not-old-enough {
    opacity: 0.4;
  }

  &.searched-for {
    border: 2px dashed hsl(330, 100%, 71%);
  }

  .title {
    text-overflow: clip;
    white-space: nowrap;
  }
}

.sub-employees {
  margin-left: calc(#{$employee-width} + 15px);

  &::before {
    display: block;
    position: absolute;
    content: '';
    width: $connector-width;
    top: calc(#{$employee-height} + #{$employee-margin-top} + 10px);
    bottom: calc(#{$employee-height} / 2 + 10px);
    background: $connector-color;
    left: calc(#{$employee-width} / 2);
  }

  .sub-employee {
    display: block;
    position: relative;
    margin-top: $employee-margin-top;

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}