<div *ngIf="employee" class="employee"
  [class.selected]="employee.id === selectedId"
  [class.not-old-enough]="!isOlderThanDate()"
  [class.searched-for]="isSearchedFor()"
  [class.is-root]="!employee.reportsTo"
  (click)="clickEmployee(employee)"
>
  <div class="title"><b>{{ employee.name }} {{ employee.surname }}</b> (ID: {{ employee.id }})</div>
  <div>{{ employee.birthdate | date:'yyyy-MM-dd' }}</div>
  <div>{{ employee.salary | currency:'R' }}</div>
</div>
<div class="sub-employees" *ngIf="employee.oversees.length">
  <app-employee class="sub-employee" *ngFor="let emp of employee.oversees"
    [employee]="emp"
    [selectedId]="selectedId"
    [olderThan]="olderThan"
    [searchedEmployees]="searchedEmployees"
    (selectEmployee)="clickEmployee($event)"
  ></app-employee>
</div>
